{% extends 'base_template.html' %}

{% block page_title %}
    Scoring
{% endblock page_title %}

{% block main_content %}

    {% load static %}

        <div class="container-fluid">
                <section class="content">
            <div class="card">
                <div class="card-header">
                    Notice
                </div>
            <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>家庭服务机器人(机器人1)</p>
                <footer class="blockquote-footer">考虑家庭中的书房/office场景，场景中有办公桌，椅子，沙发等，办公桌上有台灯，
                    电脑，鼠标，水杯等，墙上有挂钟，海报/画等。服务机器人假设立于场景的某个角落，可以看到以上所有东西（180或360度旋转RGBD摄像头）
                    ，也能看到进入视场的用户（评测者）。 机器人智能引擎首先要能够对视场中的以上物体进行实时的语义识别和3D定位
                    （当这些物体移动了位置，系统仍然能够给出准确的判断，而不是硬编程这些物体），当有语义自定义范围内新的物体进入视场以后，
                    系统也能够进行相应的识别和定位。 当有用户进入视场后，机器人智能引擎要能够实时的感知到用户已进入视场，并给出用户的在视场中的3D位置，
                    用户的人数/性别等信息。 在人机交互过程中，引擎要能够依赖声纹识别技术判断出用户是谁（对于已注册用户）或者是外来人员;引擎要依赖
                    人脸表情识别或者语音情绪识别，给出用户的情绪状态判断，并以自然语言人机交互的形式传递出来。 基于家庭中的书房/office环境设置，
                    我们通过设计以下人机交互桥段呈现视听融合感知能力：（1）找东西，例如用户问机器人，桌上有些什么东西，水杯在哪里等等，（2）问问题，
                    例如墙上的挂钟几点钟了，或者墙上的海报/画呈现的是什么等 引擎也需要通过调用云服务，实现更一般性（类ChatGPT）的人机交互，
                    包括一般性的问天气情况，新闻等等，以应对评测者的开放问题。
                </footer>
            </blockquote>
            </div>
                <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>商业场所（例如银行）服务机器人(机器人2)</p>
                <footer class="blockquote-footer">考虑商业零售场景（例如校园便利店）的设置，场景中包含两到三个柜台（在未来技术学院实验室中，
                    考虑简单的以桌子替代柜台），每个桌子上放有一些待销售的商品，例如一个桌子上面是饮食相关（瓶装饮料，面包，水果，盒装食品等），
                    另一个桌子上面是办公用品（黑板擦，盒装笔等）。 机器人智能引擎首先要能够对视场中的以上物体进行实时的语义识别和3D定位（当这些物
                    体移动了位置，系统仍然能够给出准确的判断，而不是硬编程这些物体），当有语义自定义范围内新的物体进入视场以后，系统也能够进行相应
                    的识别和定位。 当有用户进入视场后，机器人智能引擎要能够实时的感知到用户已进入视场，并给出用户的在视场中的3D位置，用户的人数/
                    性别等信息；也要给出用户相对于两个柜台/桌子的相对位置，以便当用户问要去买食品时，能够以自然人机交互的方式告诉用户应该往哪边走。
                    在人机交互过程中，引擎要能够依赖声纹识别技术判断出用户是谁（商场售货人员或者是顾客）;引擎要依赖人脸表情识别或者语音情绪识别，
                    给出用户的情绪状态判断，并以自然语言人机交互的形式传递出来。 基于简易的校园零售环境设置，我们通过设计以下人机交互桥段呈现视听
                    融合感知能力：（1）问是否有某类商品出售，例如问机器人，我想买什么东西，有货么，（2）问商品位置，例如问机器人想买一瓶矿泉水，
                    该怎么走，（3）对找到的商品，通过机械臂进行相应的抓取，给到用户（注：此部分自己负责）。 引擎也需要通过调用云服务，实现更一般性
                    （类ChatGPT）的人机交互，包括一般性的问天气情况，新闻等等，以应对评测者的开放问题。
 </footer>
            </blockquote>
            </div>
        </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Please score</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" method="POST" action="{% url 'scoring_done' %}">
                            {% csrf_token %}


                            {% comment %} Display Messages {% endcomment %}
                            {% if messages %}
                                <div class="form-group">
                                    <div class="col-12">
                                        {% for message in messages %}
                                            {% if message.tags == "error" %}
                                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                                     style="margin-top: 10px;">
                                                    {{ message }}
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% elif message.tags == "success" %}
                                                <div class="alert alert-success alert-dismissible fade show"
                                                     role="alert" style="margin-top: 10px;">
                                                    {{ message }}
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            <!-- /start reporting -->
                            <div class="card-body">
                                <div class="input-group mb-3">
                                      <label class="input-group-text" for="inputGroupSelect01">机器人选择</label>
                                    <select class="form-select" name="robot" id = 'robot'>
                                        <option value="r1">家庭服务（机器人1）</option>
                                        <option value="r2">商务场所（机器人2）</option>
                                    </select>
                                </div>

                                <div class="input-group mb-3">
                                      <label class="input-group-text" for="inputGroupSelect01">用户体验</label>
                                    <select class="form-select" name="feeling" id = 'feeling'>
                                        <option value="很差">很差</option>
                                        <option value="不好">不好</option>
                                        <option value="一般">一般</option>
                                        <option value="较好">较好</option>
                                        <option value="很好">很好</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>用户评分</label>
                                    <input type="range" class="form-range" value="0" min="0" max="5" name="score" step="0.1"
                                    oninput="document.getElementById('Show_range').innerHTML = this.value" />
                                    <label id="Show_range"></label>
                                </div>

                                <div class="form-group">
                                    <label>用户评价</label>
                                    <input type="text" class="form-control" name="comment" >
                                </div>


                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Done</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

{% endblock main_content %}