{% extends 'user_templates/base_template.html' %}

{% block page_title %}
    商业场所（如银行）服务机器人(机器人2)测评
{% endblock page_title %}


{% block main_content %}

    {% load static %}

        <div class="container-fluid">
                <section class="content">
            <div class="card">
                <div class="card-header">
                    用户须知
                </div>
                <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p><b>商业场所（例如银行）服务机器人(机器人2)</b></p>
                        <p style="text-indent: 2em;">欢迎参与我们机器人的功能测试与评分。我们的机器人旨在提高校园便利店的购物体验，</p>
                        <p>通过高级的视觉识别和自然语言处理技术， 为您提供智能购物助手服务。</p>
                        <p><b>测试场景</b></p>
                        <p style="text-indent: 2em;">位置: 校园便利店</p>
                        <p style="text-indent: 2em;">环境: 每个柜台上摆放着不同类别的商品，如食物、办公用品等。</p>
                        <p><b>机器人功能</b></p>
                        <p style="text-indent: 2em;">  实时语义识别与3D定位: 机器人能够识别并定位视场中的各种商品。</p>
                        <p style="text-indent: 2em;">  监测动态变化: 实时监测物体是否移动或有新的物体进入视野。</p>
                        <p style="text-indent: 2em;">  用户检测与定位: 感知用户进入视场并检索用户信息，提供用户位置、人数和性别等信息。</p>
                        <p style="text-indent: 2em;">声纹识别: 依据声纹识别技术判断用户身份（售货人员或顾客）。</p>
                        <p style="text-indent: 2em;">情绪状态识别: 通过人脸表情或语音情绪识别，判断并传递用户情绪状态。</p>
                        <p style="text-indent: 2em;">购物指引: 回答用户有关商品信息的询问。</p>
                        <p style="text-indent: 2em;">聊天、提供新闻等: 与用户进行自然语言对话交互。</p>
                        <p><b>测试指南</b></p>
                        <p style="text-indent: 2em;">与机器人交流: 请以自然的方式与机器人交谈，以如下准则进行提问：</p>
                        <p style="text-indent: 2em;">询问机器人获取商品信息(有无商品，商品位置，商品价格等)。
                        <p style="text-indent: 2em;">您可以关注以下内容：</p>
                        <p style="text-indent: 2em;">观察机器人行为: 注意机器人如何响应您的请求，它的回答是否准确，动作是否流畅。</p>
                        <p style="text-indent: 2em;">情绪反馈: 在交流中体现出不同的情绪，以测试机器人的情绪识别能力。</p>
                        <p><b>评分标准</b></p>
                        <p style="text-indent: 2em;">准确性: 机器人响应的正确率。</p>
                        <p style="text-indent: 2em;">响应速度: 机器人处理请求的速度。</p>
                        <p style="text-indent: 2em;">用户体验: 与机器人交互的流畅性和自然度。</p>
                        <p><b>注意事项</b></p>
                        <p style="text-indent: 2em;">请保持对机器人的操作合理与现实。</p>
                        <p style="text-indent: 2em;">如遇到机器人无法理解的情况，请记录下来并在评分时提供反馈。</p>
                        <p style="text-indent: 2em;">您的反馈对我们的机器人改进至关重要，请尽量详细记录您的体验和建议。</p>
            </blockquote>
            </div>
        </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">请打分</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" method="POST" action="{% url 'scoring_done' %}">
                            {% csrf_token %}


                            {% comment %} Display Messages {% endcomment %}
                            {% if messages %}
                                <div class="form-group">
                                    <div class="col-12">
                                        {% for message in messages %}
                                            {% if message.tags == "error" %}
                                                <div class="alert alert-danger alert-dismissible fade show" role="alert"
                                                     style="margin-top: 10px;">
                                                    {{ message }}
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% elif message.tags == "success" %}
                                                <div class="alert alert-success alert-dismissible fade show"
                                                     role="alert" style="margin-top: 10px;">
                                                    {{ message }}
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}

                            <!-- /start reporting -->
                            <div class="card-body">
                                <div class="input-group mb-3">
                                      <label class="input-group-text" for="inputGroupSelect01">机器人选择</label>
                                    <select class="form-select" name="robot" id = 'robot'>
                                        <option value="r2">商务场所（机器人2）</option>
                                    </select>
                                </div>

                                <div class="input-group mb-3">
                                      <label class="input-group-text" for="inputGroupSelect01">交流及时评分</label>
                                    <select class="form-select" name="feeling1" id = 'feeling1'>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>

                                <div class="input-group mb-3">
                                      <label class="input-group-text" for="inputGroupSelect01">交流准确评分</label>
                                    <select class="form-select" name="feeling2" id = 'feeling2'>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>

                                <div class="input-group mb-3">
                                      <label class="input-group-text" for="inputGroupSelect01">交流自然评分</label>
                                    <select class="form-select" name="feeling3" id = 'feeling3'>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>

                                <div class="input-group mb-3">
                                      <label class="input-group-text" for="inputGroupSelect01">用户综合评分</label>
                                    <select class="form-select" name="feeling" id = 'feeling'>
                                        <option value="很差">很差</option>
                                        <option value="不好">不好</option>
                                        <option value="一般">一般</option>
                                        <option value="较好">较好</option>
                                        <option value="很好">很好</option>
                                    </select>
                                </div>



                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">完成</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                </div>
            </div>
                </section>

        </div><!-- /.container-fluid -->
    </section>

{% endblock main_content %}